* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #2a2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 6px 60px;
    height: 8vh;
}

.menu-header {
    background-color: #ffffff;
    height: 94vh;
    position: absolute;
    right: 0;
    opacity: 0;
    width: 40%;
   
    transition: all .7s;
}

.nav-list-active {
    opacity: 100%;
    z-index: 10;
}


.menu-header ul {
    text-align: center;
    list-style-type: none;
}

.menu-header a {
    font-size: 20px;
    border-bottom: 1px solid #11111110;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 55px; 
    transition: .4s;
}

.menu-header a:hover {
    background-color: #4022e94d;
}

.logo {
    font-size: 40px;
    color: #ffffffc9;
    text-shadow: -6px 5px 4px #d3d2d238;
    text-decoration: none;
}

.btn-click-menu {
    cursor: pointer;
    color: #ffffff;
    border: none;
    background: none;
    font-size: 25px;
    padding: 4px;
    transition: all .4s;
}

.btn-click-menu:hover {
    background-color: rgba(240, 248, 255, 0.082);
    border-radius: 5px;
}


/* setion welcome page */

.welcome-web-page {
    background-image: url(../img/background-front-end.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94vh;
}

.text-about {
    color: white;
    display: block;
    padding: 100px 0 50px 30px ;
}

.text-about h1 {
    filter: drop-shadow(0 0 0.2em #1c201f);
    font-size: 80px;
    letter-spacing: 2px;
}

.text-about p {
    border-left: 7px solid #ffffff;
    line-height: 1.6em;
    max-width: 790px;
    font-size: 23px;
    letter-spacing: 2px;
    padding: 0 20px; 
    margin: 20px;
}

.letsgo {
    background-color: white;
    color: #303030;
    width: 22px;
    display: block;
    border-radius: 40px;
    padding: 5px 10px;
    font-size: 30px;
    transition: .5s;
    margin: 40px 0 0 6px ;
}

.letsgo:hover {
    transform: scale(0.9);
}

/* developer-text front-end */

.conteiner-developer {
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center; 
    max-width: 1100px;
    margin: 100px auto 50px auto;
}

.conteiner-developer img {
    filter: drop-shadow(-6em 3em 0.9em #00000010);
    display: block;
    margin: auto;

}

section h2 {
    font-size: 40px;
    margin: 10px 0 30px 0;
}

.conteiner-developer p {
    font-size: 20px;
    line-height: 1.5em;

}


/* trilha para developer web */


#trail-web h2 {
    text-align: center;
}

/* Options about languages trail */

.conteiner-options {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: block;
    margin: auto ;
    padding: 20px 0 ;
}

.box-about {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.box-about p {
    font-size: 20px;
    line-height: 1.6em;
}


.options-guide {
    max-width: 650px;
    border-radius: 5px;
    margin: auto;
}

.languages-title  {
    border: 1px solid #3f3f3f;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 24px;
    margin: 30px 10px;
}

.languages-title:hover {
    background-color: #00000017;
}

.box-languages {
    border: 1px solid black;
    color: black;
    font-size: 20px;
    line-height: 1.6em;
    border-radius: 7px;
    padding: 10px;
    display: none;
    margin: 4px 10px;
    transition: all .6s;
}

.box-languages h3 {
    margin-bottom: 10px;
}

.box-languages a {
    text-decoration: none;
    color: #4022e9;
}

.box-languages a:hover {
    text-decoration: underline;
}

.content-text-interation {
    margin-bottom: 90px;
}

/* footer - rodapé*/

footer {
    background-color: #1c201f;
    color: white;
    line-height: 1.8em;
    padding: 40px 10px;
}

.container-footer {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 500px 400px 300px;
    flex-wrap: wrap;
    margin: auto;
}

footer h3 {
    color: #6d0bc9;
}

footer div {
    padding: 10px;
    margin: 10px;
}

footer a {
    color: #ffffffcb;
    text-decoration: none ;
    display: block;
    font-weight: bold;
    max-width: 300px;
    border-radius: 3px;
    padding: 3px;
    margin: 4px 0;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}


abbr {
    color: #5a5a5afb;
    text-decoration: none;
}
/* header - response */
@media screen and (max-width: 500px) {
    header {
        justify-content: space-between;
        padding: 0 10px;
    }

    .welcome-web-page {
        padding: -20px 0 ;
    }

    /* wrap p - h1 - section*/ 
    .text-about p {
        border: none;
        font-size: 20px;
        padding: 0;
        margin: 20px;
    }

    .conteiner-developer h2 {
        text-align: left;
        font-size: 1.7em;
    }
    .conteiner-options h2 {
        font-size: 2em;
    }
}

/* page response */

@media screen and (max-width: 1100px) {
    .text-about {
        position: relative;
        left: 0;
        transform: none;
    }

    /* block image conteiner */ 

    .conteiner-developer {
        display: block;
        padding: 20px;
    }

    .conteiner-developer img {
        width: 70%;
        margin: auto;
    }    

    .letsgo {

        display: block;
        margin: 40px auto 0 auto;
        text-align: center;
    }

    .conteiner-options {
        margin: auto 20px;
    } 

    .conteiner-options p {
        text-align: left;
    }

    .conteiner-options h2 {
        text-align: left;
    }

    .menu-header {
        overflow-x: hidden;
    }


    /* footer */

    
    .container-footer {
        grid-template-columns: auto auto auto;
    }
    
}

@media screen and (max-width: 700px){
    .text-about {
        padding: 100px 0 ;
        text-align: left;
        position: none;
        margin: auto;
        left: 0;
        top: 0;
        transform: none;
    }

    .text-about h1 {
        font-size: 3em;
        text-align: center;
    }
    .text-about p {
        display: block;
    }


    /*menu wifth*/
    .menu-header {
        width: 100%;
        transition: .3s;
    }

    .menu-header {
        overflow-x: hidden;
    }

    /* footer */

    footer div{
        padding: 10px 0;
    }

    .container-footer {
        display: block;
        padding: 0;
        margin: 0 ;
    }
}

@media screen and (max-width: 370px) {
    .menu-header {
        overflow-x: hidden;
    }
}


@media screen and (max-width: 700px) {
    .menu-header {
        overflow-x: hidden;
    }
}